@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { margin :0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: beige;
}

html, body, header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
	padding: 20px;
	top: 0%;
	left: 0%;
	right: 0%;
	z-index: 1000;
	box-shadow: 0 3px 5px 0 rgba(7, 7, 7, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.09); 
}
.logo{
	float: left;
	width: 150px;
	height: auto;
}

.slogan{
    color: rgb(128, 110, 8);
    margin-left: 2%;
}
.hide{
    display: none;
}
.contenedor-form{
    border-radius: 5px;
    background-color: rgba(224, 226, 226, 0.9);
    padding: 5px;
    width: 310px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
    /* .login, .checkin{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } */
input{
    width: 80%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(245, 241, 241, 0.801);
}
.facebook{
    padding: 5px;
    font-size: 30px;
    margin: 5px 2px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius:100%;
    background-image: url(img/facebook.png);
    background-size: cover;
}
.google{
    padding: 5px;
    font-size: 30px;
    margin: 5px 2px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius:100%;
    background-image: url(img/google-plus.png);
    background-size: cover; 
}
footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(145, 136, 22);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}