@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { margin :0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #FFF;
}


.logo{
	float: left;
  width: 140px;
	height: auto;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  background:#e5eb96f2;

}

.icon-header {
  width: 30px;
  height: 30px;
  padding: 0 8px;
}
.icon-header:hover {
  opacity: 0.8;
}


.hide{
    display: none;
}

.show-message-error{
color:rgb(238, 70, 70);
font-weight: bold;
}

.container-register{
    /*width: 90%;*/
    margin: auto;
    height: auto;
    align-items: start;
    font-family: 'Pacifico', cursive;
  }
 .home{
  display: flex;
  align-items: center;
 }
  .container-logo  img{
    float: left;
	  width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    
  }

  .register-login{  
    width: 100%;
    align-items: center;
    color:	#522e4a;
  }
  
  .form-group{
    width: 60vw;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group input{
     height: 30px;  
     width: 100%;
     border-radius: 20px;
     border: 2px solid #437e58;
     margin: 0.1rem;
     padding: 7px 20px 7px 20px;
     font-size: 17px;

  }
  
  .form-group button{
    height: 50px;
    width:120%;
    border-radius: 20px;
    border:none;
    background: #f3d009de;
    color:#FFF;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    padding: 7px 20px 7px 20px;
    
  }
  
  .form-group button:hover{
    background:rgba(0, 0, 0, 0.52);
    color: #13125fe7;
  }

  .wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(218, 216, 134);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.fg{
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius:100%;
  background-size: cover;
  margin: 10px;
}
.facebook{
  background-image: url(img/facebook.png);
}
.google{
  background-image: url(img/google-plus.png);
}

h2 {
  padding-bottom: 20px;
  font-size: 24px;
  color: rgba(37, 36, 36, 0.712);
}

.ingresar{
  color: rgba(37, 36, 36, 0.712);
  font-size:17px;
  font-weight: bold;
  padding: 10px;
}

.logo{
  width: 250px;
  height: auto;
  margin: 30px;
}

.fa-eye:before {
  float: right;
  margin-left: 210px;
  margin-top: -35px;
  width: 30px;
}
.fa-envelope:before {
    float: right;
  margin-left: 210px;
  margin-top: -35px;
  width: 30px;
}

/* publicacion*/
.wall-feed {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 auto;
}

.margin-left {
  margin-left: 1.5%;
}
.form-post{
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-top: 2%;
  border-radius: 7px;
  border:solid #f3d009de;
  padding: 2%;
}

.input-comment {
  height: 80px;
  border-radius: 7px;
  border: none;
  border:solid 1px #ccc;
  margin-bottom: 1%;
  width: 100%;
}
.btn-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.btn-comment-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.privacy {
  align-self: flex-end;
  background-color: #f3d009de;
  color: white;
  font-weight: bold;
  margin-right: 3%;
  margin-left: 3%;
  padding: 3.2%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.privacy:hover {
  background-color: white;
  color:#f3d009de;
}
.font-weight-privacy {
  font-weight: bold;
}

.btn-post {
  color: white;
  font-weight: bold;
  background-color: #f3d009de;
  cursor: pointer;
}

.btn-post:hover {
  color: #f3d009de;
  font-weight: bold;
  background-color: white;
}
.btn-compartir {
  border: none;
  border-radius: 13px;
}

.foto-user{
  width: 20%;
  height: auto;
  border: 1px solid rgb(84, 90, 88);
  border-radius: 20%;
  margin: 5%;
  display: flex;
  align-self: center;
}

  @media (min-width: 768px) {
    /****** LOGIN  *****/
  
  .container-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh; 
    margin: 0;
  
  }
  
  .container-logo {
    width: 100%;
    height: 85vh;
    align-items: center;
    background-image: url(../src/img/pantalla1.png);
    left: 0px;
  }
  .logo{
    width :300px;
    align-items: center;
  }
 
  .icon-header {
    width: 60px;
    height: 60px;
    padding: 0 15px;
  }

   .form-group{
    width: 25vw;
   }
   .a{
     display: flex;
     flex-direction: row;
   }
   .b{
     display: flex;
     flex-direction: column;
     width: 50%;
     height: 100%;
   }
  }