@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { margin :0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #FFF;
}


.size {
  min-height: 100vh;
  width: 100%;
}
.logo {
  height: 6em;/*verificar si el logo no se ve muy grande en el celular*/
  /*border-radius: 2em;*/
  margin: 1em;
}
.input-form {
  height: 3em;
  width: 20em;
  border-radius: 2em;
  /* border: none; */
  margin: 1em;
  outline-style: none;
  padding: 1em;
}
.btn-login{
  height: 3em;
  width: 20em;
  border-radius: 2em;
  margin: 1em;
  outline-style: none;
  padding: 1em;
  color: #FFF;
  background-color: red;
}
.error-registra{
  color: black;
  font-size: 15px;
  margin: 0 1em;
  margin-bottom: 5px;
}
/* .logo1{
	float: left;
  width: 140px;
	height: auto;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(206, 172, 127, 0.671);
}

.icon-header {
  width: 30px;
  height: 30px;
  padding: 0 8px;
}
.icon-header:hover {
  opacity: 0.8;
}


.hide{
    display: none;
}

.show-message-error{
color:rgb(238, 70, 70);
font-weight: bold;
}

.container-register{
    /*width: 90%;*/
    margin: auto;
    height: auto;
    align-items: start;
    font-family: 'Pacifico', cursive;
  }
 .home{
  display: flex;
  align-items: center;
 }
  .container-logo  img{
    float: left;
	  width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    
  }

  .register-login{  
    width: 100%;
    align-items: center;
    color:	#522e4a;
  }
  
  .form-group{
    width: 60vw;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group input{
     height: 30px;  
     width: 100%;
     border-radius: 20px;
     border: 2px solid #01104198;
     margin: 0.1rem;
     padding: 7px 20px 7px 20px;
     font-size: 17px;
     cursor: hand;

  }
  
  .form-group button{
    height: 50px;
    width:120%;
    border-radius: 20px;
    border:none;
    background: #f3d009de;
    color:#FFF;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    padding: 7px 20px 7px 20px;
    
  }
  
  .form-group button:hover{
    background:rgba(0, 0, 0, 0.52);
    color: #13125fe7;
  }
  .outlinenone {
    outline: none;
    border: 0;
  }
.radius100{
  border-radius: 100%;
}
  .wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: rgb(44, 56, 230);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(235, 232, 92, 0.952);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.fg{
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius:100%;
  background-size: cover;
  margin: 10px;
}
.facebook{
  background-image: url(img/facebook.png);
}
.google{
  background-image: url(img/google-plus.png);
}

h2 {
  padding-bottom: 20px;
  font-size: 24px;
  color: rgba(37, 36, 36, 0.712);
}

.ingresar{
  color: rgba(37, 36, 36, 0.712);
  font-size:17px;
  font-weight: bold;
  padding: 10px;
}

.logo{
  width: 250px;
  height: auto;
  margin: 30px;
}

.fa-eye:before {
  float: right;
  margin-left: 210px;
  margin-top: -35px;
  width: 30px;
}
.fa-envelope:before {
    float: right;
  margin-left: 210px;
  margin-top: -35px;
  width: 30px;
}

/* publicacion*/
.wall-feed {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 auto;
}

.margin-left {
  margin-left: 1.5%;
}
.form-post{
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-top: 2%;
  border-radius: 7px;
  border:solid #676769de;
  padding: 2%;
}

.input-comment {
  height: 80px;
  border-radius: 7px;
  border: none;
  border:solid 1px #ccc;
  margin-bottom: 1%;
  width: 100%;
}
.btn-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.btn-comment-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.privacy {
  align-self: flex-end;
  background-color: #0d18dcde;
  color: white;
  font-weight: bold;
  margin-right: 3%;
  margin-left: 3%;
  padding: 3.2%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.privacy:hover {
  background-color: white;
  color:#f3d009de;
}
.font-weight-privacy {
  font-weight: bold;
}

.btn-post {
  color: white;
  font-weight: bold;
  background-color: #0d18dcde;
  cursor: pointer;
  margin-right: 4px;
}

.btn-post:hover {
  color: #f3d009de;
  font-weight: bold;
  background-color: white;
}
.btn-compartir {
  border: none;
  border-radius: 13px;
}

.foto-user{
  width: 20%;
  height: auto;
  border: 1px solid rgb(84, 90, 88);
  border-radius: 20%;
  margin: 5%;
  display: flex;
  align-self: center;
}
.hide{
  display: none;
}

  @media (min-width: 768px) {
    /****** LOGIN  *****/
  
  .flex-c {
      display: flex;
      flex-direction: column;
  }
  .flex-r{
      display: flex;
      flex-direction: row; 
  }
  .two-col{
      display: flex;
      /* flex-direction: column; */
      width: 100%;
      height: 100vh;
  }
  .banner {
    flex-grow: 1;
    width: 100%;
    background-size: cover;
}
  .bnsi-image{
    background-image: url(./img/pantalla3.jpg)!important ;
  }
  .hide{
    display: block;
  }
  /* .container-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh; 
    margin: 0;
  
  }
  
  .container-logo {
    width: 100%;
    height: 85vh;
    align-items: center;
    background-image: url(../src/img/pantalla1.png);
    left: 0px;
  }
  .logo{
    width :300px;
    align-items: center;
  }  */
 
  .icon-header {
    width: 60px;
    height: 60px;
    padding: 0 15px;
  }

   .form-group{
    width: 25vw;
   }
   .a{
     display: flex;
     flex-direction: row;
   }
   .b{
     display: flex;
     flex-direction: column;
     width: 50%;
     height: 100%;
   }