@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

.center-items{
  align-items: center;
}
.content-center{
  justify-content: center;
}
.m-auto{
  margin:auto;
}
.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {

  flex-direction: row;
}

.size {
  min-height: 100vh;
  width: 100%;
}
.logo {
  height: 6em;
  margin: 1em;
}
.presentacion{
  display: none;
}
.input-login {
  height: 3em;
  width: 20em;
  border-radius: 2em;
  margin: 1em;
  outline-style: none;
  padding: 1em;
}
.btn-login{
  height: 2em;
  width: 13em;
  border-radius: 2em;
  margin: 1em;
  outline-style: none;
  color: #FFF;
  background-color:rgb(218, 74, 74);
  font-size: 20px;
}
.error-registra{
  color:rgb(224, 21, 21);
  font-size: 15px;
  margin: 0 1em;
  margin-bottom: 5px;
}
.register{
  font-weight: bold;
  font-size: 15px;
  color: #3735a5;
}

/* Menu movil*/
header{
  width: 100%;
  height: 50px;
  background : rgb(218, 74, 74);
  color:black;
  position: fixed;
  top: 0;
  left: o;
  z-index: 100;
}
.contenedor-header{
  width: 98%;
  margin: auto;
}
h1{
  float:left;
  color: white;
  margin-top: 7px;
}

header .contenedor-header{
  display: table;
}
#menu-bar{
  display: none;
}
header label{
  float: right;
  font-size: 28px;
  margin:6px 0;
  cursor: pointer !important;
}

.menu{
  position: absolute;
  top:50px;
  left: 0;
  height:  100vh;
  width:100% ;
  background: rgb(218, 74, 74);
  transition: all 0.5s;
  transform: translateX(-100%);
}
.menu a{
  display: block;
  color:white;
  height: 15px;
  text-decoration: rgb(218, 74, 74) ;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.menu a:hover{
  background: rgba(255,255,255,0.3);
}

#menu-bar:checked~.menu{
  transform: translateX(0%);
}
.title-header{
  font-size: 24px;
  color: #FFF;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}

.icon-header {
  width: 50px;
}

.logout{
  background-color: #80a6e5;
  color: #FFF;
  font-weight: bold;
  display:none;
}
.hide{
  display: none;
}
.modal {
  display: none;
  position: fixed;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #727171;
  width: 90%;
  font-weight: bold;
}
.btn-edit {
  border: none;
  width: auto;
  height: 30px;
  padding: 6px;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  background: #4240b9;
  color: #f2f2f2;
  margin: 3px 1px 3px 15px;
 }
 .name-post{
  margin-top: 15px;
  font-size: 15px;
 }


.container-register{
    margin: auto;
    height: auto;
    align-items: start;
    font-family: 'Pacifico', cursive;
  }
 
  .title-form{  
    width: 100%;
    align-items: center;
    color:	#522e4a;
  }

  .wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.fg{
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius:100%;
  background-size: cover;
  margin: 10px;
}
.facebook{
  background-image: url(img/facebook.png);
}
.google{
  background-image: url(img/google-plus.png);
}

h2 {
  padding-bottom: 20px;
  font-size: 20px;

}

.text-login{
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.fa-eye:before {
  float: right;
  margin-left: 210px;
  margin-top: -43px;
  width: 30px;
  margin-right: 25px
}
.fa-envelope:before {
    float: right;
  margin-left: 210px;
  margin-top: -43px;
  width: 30px;
  margin-right: 25px;
}

/* publicacion*/
.wall-feed {
  flex-flow: column nowrap;
  margin: 0 auto;
}

.margin-left {
  margin-left: 3%;
}
.form-post{
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-top: 50px;
  border-radius: 7px;
  border:solid #676769de;
  padding: 2%;
}

.input-post {
  height: 80px;
  border-radius: 7px;
  border: none;
  border:solid 1px #ccc;
  margin-bottom: 1%;
  width: 100%;
}
.btn-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.btn-comment-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.privacy {
  align-self: flex-end;
  background-color:  rgb(218, 74, 74);
  color: white;
  font-weight: bold;
  margin-right: 3%;
  margin-left: 3%;
  padding: 3.2%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.privacy:hover {
  background-color:  rgb(218, 74, 74);
  color:white;
}
.font-weight-privacy {
  font-weight: bold;
}

.btn-post {
  color: white;
  font-weight: bold;
  background-color:  rgb(218, 74, 74);
  cursor: pointer;
  margin-right: 4px;
  padding: 4px;
}

.btn-post:hover {
  color:white;
  font-weight: bold;
  background-color: rgb(218, 74, 74);
}
.btn-compartir {
  border: none;
  border-radius: 13px;
}

.foto-user{
  width: 20%;
  height: auto;
  border: 1px solid rgb(84, 90, 88);
  border-radius: 20%;
  margin: 5%;
  display: flex;
  align-self: center;
}

.btn-save, .btn-editar{
  display: none;
}

.form-post1{
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-top: 2%;
  padding: 0%;
}
.container-list-post{
  border:solid #676769de;
  border-radius: 7px;
}
textarea{
  background-color:white;
  border:white;
}
.border {
	background-color: #676769de;
}

.post-head {
	height: 60px;
  color:black;
  font-size: 10px;
  padding-left: 5px;
}
.container-btn-share{
  height: 30px;
  width: 100%;
  background-color: #ccc;
  border: 676769;
  padding: 7px;
}
.txt-{
  font-size: 10px;
  color: #616770
}

.bg-blue {
	background-color:  rgb(218, 74, 74);
}
.post-article {
	width: 100%;
	margin-top: 0px;
}
.border-box {
	box-sizing: border-box;
}

.input-comment {
  height: 20px;
  border-radius: 7px;
  border: none;
  border:solid 1px #ccc;
  margin-bottom: 1%;
  width: 69%;
  padding-left: 8px;
}
.border-perfil{
  border:white;
}
.datos{
  margin-left: 20px;
}

.mobile-navbar1{
  display: none;
}

  @media (min-width: 768px) {
    /****** LOGIN  *****/
  .menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }
  .menu a{
    border: none;
  }
  header label{
    display: none;
  }

  .flex-c{
      display: flex;
      flex-direction: column;
  }
  .flex-r{
      display: flex;
      margin-top:40px;
      /* flex-direction: row;  */
  }
  .two-column{
      display: flex;
      width: 100%;
      height: 100vh;
  }
 
  .cover-page-imagen{
    background-image: url(./img/red-social.gif)!important ;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 70vh;
  }
  .presentacion{
    padding-top: 420px;
    padding-left: 40px;
    padding-right: 10px;
    font-family:  'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center; 
    color: #240404;
    display: block;
  }
   

  .hide{
    display: block;
  }
  .column-post{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wall-feed {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
  }
  .mobile-navbar{
    display: none;
  }
  .mobile-navbar1{
    display: block;
  }
  .logout{
    display:block;
    }
  .input-comment{
    width: 78%;
    margin: 5px;
  }
}
