@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { margin :0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: beige;
}


.logo{
	float: left;
  width: 140px;
	height: auto;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  background:#e5eb96f2;

}

.icon-header {
  width: 30px;
  height: 30px;
  padding: 0 8px;
}
.icon-header:hover {
  opacity: 0.8;
}


.hide{
    display: none;
}
.container-register{
    width: 90%;
    margin: auto;
    height: auto;
    align-items: start;
  }
 .home{
  display: flex;
  align-items: center;
 }
  .container-logo  img{
    float: left;
	  width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .register-login{  
    width: 100%;
    align-items: center;
    color:	#522e4a;
  }
  
  .form-group{
    width: 60vw;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group input{
     height: 40px;  
     width: 100%;
     border-radius: 20px;
     border: 2px solid #437e58;
     margin: 0.1rem;
     padding: 7px 20px 7px 20px;
  }
  
  .form-group button{
    height: 50px;
    width:60%;
    border-radius: 40px;
    border:none;
    background: #522e4a;
    color:#5AC39B;
    margin:1rem;
    font-weight: bold;
    font-size: 17px;
  }
  
  .form-group button:hover{
    
    background:black;
    color: #522e4a;  
    
  }
  
  .color-txt-return{
      color: #59a272;
  }

  .wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(218, 216, 134);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.fg{
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius:100%;
  background-size: cover;
}
.facebook{
  background-image: url(img/facebook.png);
}
.google{
  background-image: url(img/google-plus.png);
}

  @media (min-width: 768px) {
    /****** LOGIN  *****/
  
  .container-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh; 
  }
  
  .container-logo{
    width: 58%;
    height: 85vh;
    align-items: center;
  }
  .container-logo  img{
    width :80%;
    height:80%;
    align-items: center;
  }
 
  .icon-header {
    width: 60px;
    height: 60px;
    padding: 0 15px;
  }

   .form-group{
    width: 25vw;
   }
  }